indeed-connector-example/src/main/app/indeed-connector-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:indeed="http://www.mulesoft.org/schema/mule/indeed" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/indeed http://www.mulesoft.org/schema/mule/indeed/current/mule-indeed.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <indeed:config name="Indeed__Configuration" publisher="1401415894010120" doc:name="Indeed: Configuration" query="Apache" latlong="true">
    </indeed:config>
    <flow name="indeed-connector-exampleFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/example" doc:name="HTTP"/>
        <indeed:get-jobs config-ref="Indeed__Configuration" doc:name="Indeed"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="indeed-connector-customFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/custom" doc:name="HTTP"/>
        <indeed:get-jobs-by-request config-ref="Indeed__Configuration" doc:name="Indeed">
            <indeed:request query="#[message.inboundProperties.'http.query.params'.q]" sort="date" latlong="true"/>
        </indeed:get-jobs-by-request>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
